html {
    box-sizing: border-box;
    font-size: 62.5%;/*1rem = 10px*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
      font-family: 'Open Sans',sans-serif;
      font-size: 1.6rem;
      margin: 0;
      background-image: url("./img/body.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      animation: taadaa 1s;
  }
  .back{
      text-decoration: none;
      cursor: pointer;
  }
  @keyframes taadaa { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  /**--GLOBALES--*/
  .contenedor{
      max-width: 1200px;
      margin: 0 auto;
      width: 90%;
      animation: taadaa 3s;
  }
  h1, h2, h3, h4{
      font-family: 'PT Sans', sans-serif;
      font-weight: lighter;
  }
  h1{
      font-size: 10rem;
      font-weight: lighter;
      margin: 0;
  }
  h2{
      font-size: 4rem;
      margin: 0;
      filter: blur(10%);
  }
  h3{
      font-size: 3.5rem;
  }
  h4{
      font-size: 1.8rem;
      font-weight: bold;
  }
  img{
      max-width: 100%;
  }
  /*--UTILIDADES--*/
  .flex{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 1rem;
  }
  .centrar-texto{
      text-align: center;
  }
  .hidden{
      display: none;
  }
  header{
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 100px 13px rgba(0,0,0,0.75) inset;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    animation: taadaa 3s;
}
/*NAV-BAR*/
.nav-bar{
    border-style: none;
    color: white;
    font-size: 2.5rem;
    padding: 1.5rem;
    animation: taadaa 3s;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
}
  /*SEARCH*/
  .title{
      margin:2rem;
      margin-top: 8rem;
  }
  .search{
    height: 4.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 8rem;
      }
      .search input{
        height: 4.5rem;
        width: 90%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: solid 1.2px  rgba(255, 255, 255, 0.4);
        border-right: 0;
          background: rgba(0, 0, 0, 0.7);
          color: rgb(255, 251, 251);
          font-size: 15px;
          padding-left: 20px;  
          outline: none;
      }
      .search input::placeholder{
          color: white;
      }
      .btn-search{
        height: 100%;
        width: 5rem;
        background: rgba(0, 0, 0, 0.7);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: solid 1.2px rgb(255, 255, 255, 0.4);
        border-left: 0;
        color: white;
        cursor: pointer;
        text-decoration: none;
       height: 100%;
       font-size: 1.7rem;
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .grid-card{
        display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  overflow-y: scroll;
  height: 25rem;
  border-radius: 2rem;
    }
    .card-img{
        height: 22rem;
        position: relative;
        border-radius: 2rem;
    }
    .card-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2rem;
    }
    .info-city{
        background: rgba(0, 0, 0, 0.39);
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /*DETAILS*/
    .fa-angle-left{
        font-size: 3.5rem;
    }
    .nav-bar a{
        text-shadow: 2px 2px 2px rgba(126, 126, 126, 0.493);
    }
      .title-details{
        margin-bottom: 2rem;
          text-align: center;
          animation: taadaa 3s;
      }
      .title-details h3{
          margin:0;
      }
      .weather-datails{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0 5rem;
        animation: taadaa 3s;
    }
      .info-weather{
          display: flex;
          flex-direction: column;
          animation: taadaa 3s;
      }
      .info-weather span{
        line-height: 3.5rem;
        color: rgb(255, 255, 255);
    }
    .sp-details{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .sp-details span{
        line-height: 3.5rem;
    }
      hr{
        height:100%;
        width:.5vw;
        border-width:0;
        color:#888;
        background-color:#888;
        margin: 0;
       }
       .flex h4{
        margin: 0;
    }
    /*.neon {
        color: rgb(212, 212, 212);
        text-shadow:
          0 0 5px #888,
          0 0 10px #888,
          0 0 20px #888,
          0 0 40px rgb(174, 0, 255),
          0 0 80px rgb(174, 0, 255),
          0 0 90px rgb(174, 0, 255),
          0 0 100px rgb(174, 0, 255),
          0 0 150px rgb(174, 0, 255);
      }*/